* {
    font-family: "Iosevka Nerd Font";
    font-size: 22px;
}

.central-bar, .left-bar, .right-bar {
    background-color: transparent;
}

.time-widget {
    background-color: #11111b;
    opacity: 0.8;
    border-radius: 25px;
    border: 2px solid;
    border-color: #a6adc8;
    color: #cdd6f4;
    padding: 5px 10px 5px 10px;
}
