* {
    all: unset;
    font-family: "Iosevka Nerd Font";
    font-size: 18px;
}

.center-bar {
    margin: 10px 0px 0px 0px;
}

.datetime-widget {
    background-color: #11111b;
    opacity: 0.8;
    border-radius: 5px;
    border: 2px solid;
    border-color: #a6adc8;
    color: #cdd6f4;
    padding: 5px 10px 5px 10px;
}

.workspaces-widget {
    background-color: #11111b;
    opacity: 0.8;
    border-radius: 5px;
    border: 2px solid;
    border-color: #a6adc8;
    color: #cdd6f4;
    padding: 5px 10px 5px 10px;
}

.workspace-entry {
    background-color: #11111b;
    opacity: 0.8;
    border-radius: 5px;
    border: 2px solid;
    border-color: #a6adc8;
    color: #cdd6f4;
    padding: 5px 10px 5px 10px;
}
