*{
	all: unset;
	font-family: Iosevka Nerd Font;
    font-size: 22px
}

.bar {
    background-color: transparent;
}

.widget {
    background-color: #11111b;
    border-width: 2px;
    border-color: #cdd6f4;
    color: #cdd6f4;
    border-radius: 25px;
    padding: 0px 5px 0px 5px;
}
